[user]
	name = Daniel Smith
	email = smittydjames@gmail.com
[url "git@github.com:freshmaniac/"]
	insteadOf = fm://
[alias]
	st = status
	co = checkout
	ci = commit -v
	br = branch
	lg = log --graph --format='%C(yellow)%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset'
	sm = submodule
[push]
	default = current
[core]
	editor = vim
[url "su_gitlab@git.ece.iastate.edu:coderlab/"]
	insteadof = coderlab://
